$bg-color: #C8C8C4;

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
main{
    display: flex;
    flex-direction: column;
    align-self: center;
    img{
        width: 60%;
        margin-left: 60px;
    }
    p{
        text-align: center;
    }
}